# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Visual Studio Files
*.rc
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/*
obj/*
packages/*
packages.config

#Xcode Files
#Makefile <- keep
Project.xcconfig
config.make
addons.make
openFrameworks-Info.plist
paint.qbs

final-project-dec4.qbs

#Keep bin/data
bin/libs/*
bin/data/savedimages/*
!bin/data/savedimages/img05-02-10-35-59-327.png

